*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1556740749-887f6717d7e4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 10em;
}
#content{
    width: 350px;
    height: 445px;
    background-color: #7e7c7c;
    text-align: center;
    /* margin-left: 66%; */
    /* position: relative; */
    /* top: 16%; */
    /* left: 70%; */
    border-radius: 8px;
}

#heading{
    padding-top: 7%;
    padding-bottom: 10%;
}
.cointainer_input{
    display: grid;
}
.cointainer_input input{
    padding: 6px;
    margin: 7px;
}

#btn{
    margin: 16px 7px 0px 7px;
    font-size: 18px;
    padding: 7px;
}

@media only screen and (max-width:720px){
    #container{
        /* width: 100%; */
        display: flex !important;
        align-items: center;
        justify-content: center !important;
        margin: 0 !important;
    }
}